.main-style {
    background-color: #313131;
    color: #fff;
    padding-top: 24px;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-right: 30px;
}

.content {
    margin: 60px 80px;
}

.main-content{
    margin-top: 10px;
}

.main-content > span {
    font-size: 32px;
    font-weight: 600;
}

.main-content > ul {
    list-style: none;
}

.main-content > ul > li {
    padding: 10px 0;
    font-size: 24px;
}

.main-content > ul > li > a {
    text-decoration: none;
    color: #fff;
}

.path{
    float: left;
    border-left: 1px solid #fff;
    height: 200px;
    margin-right: 18px;
}

.img-content {
    display: flex;
    justify-content: center;
}

.img-content > img{
    width: 240px;
}