.wrap-sub-news-menu{
    margin: 20px 70px;
}

.wrap-all-pages{
    background-color: #fff;
    color: #000;
    border-radius: 12px;
    max-width: 88%;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    text-align: start;
}

.wrap-desc{
    padding: 20px;
    margin-top: 18%;
}

.wrap-desc > span {
    font-weight: 600;
    font-size: 14px;
}

.wrap-desc-image {
    display: flex;
    justify-content: flex-end;
}

.wrap-desc-image > img {
    position: relative;
    top: -80px;
    height: 500px;
}

.sub-title-card{
    font-weight: 600;
    font-size: 24px;
}

.desc-card{
    font-size: 14px;
    padding: 10px 0;
    width: 100%;
    text-align: justify;
}

/* detail pages news */
.detail-content{
    padding: 10px;
    background-color: #313131;
}

.detail-content > .details{
    background-color: #fff;
    border-radius: 14px;
    margin: 0 80px;
    padding: 40px 160px;
    position: relative;
    top: -250px;
}

.detail-content > .details-card{
    background-color: #fff;
    border-radius: 14px;
    margin: 0 80px;
    padding: 40px 20px;
    position: relative;
    top: -250px;
    display: flex;
}

.detail-content > .details > .sub-title-card{
    display: flex;
    font-size: 64px;
    padding: 0 80px;
}

.detail-content > .details > .title-card{
    font-size: 36px;
    font-style: italic;
    color: #999;
    padding: 10px 0;
}

.hero-image {
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.111), rgba(26, 26, 26, 0.73)),
    url("../image/image.svg");
    background-color: #313131;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.label-related{
    width: 180px;
    height: 180px;
    top: 280px;
    position: relative;
    font-size: 80px;
    transform: rotate(-90deg);
    font-weight: 800;
    text-transform: uppercase;
    color: #999;
  /* Legacy vendor prefixes that you probably don't need... */

    /* Safari */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);

}