.content-race {
    border-radius: 14px;
    margin: 0 80px;
    padding: 40px 160px;
    position: relative;
    top: -360px;
}

.content-race > .sub-title-race {
    font-weight: 600;
    font-size: 36px;
    max-width: 50%;
    color: #fff;
}

.content-race > .title-race{
    max-width: 50%;
    color: #fff;
    margin: 18px 0;
}

.content-race > .title-race > span {
    font-size: 16px;
    line-height: 22px;
}

.btn-race {
    margin: 40px 0;
}

.btn-race > button{
    border: none;
    padding: 8px 28px;
    border-radius: 8px;
    background-color: #fff;
}

.btn-race > button:hover {
    background-color: rgba(153, 153, 153, 0.2);
    color: #fff;
}

.card-race {
    background-color: #fff;
}

.card-race-detail{
    color: #fff;
}

.main-content-race {
    margin-top: 74px;
}

.chips-race {
    margin: 6px 0 20px 0;
}

.chips-race > span {
    background-color: transparent;
    border: 2px solid rgba(187, 155, 72, 0.878);
    border-radius: 8px;
    padding: 2px 8px;
    font-size: 12px;
}

.btn-card > button{
    border: 1px solid #9AFF8A;
    background-color: #9AFF8A;
    margin: 0 4px;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 600;
}

.btn-card > button:hover {
    border: 1px solid #9AFF8A;
    background-color: #fff;
    margin: 0 4px;
    padding: 4px 10px;
}

.tabs{
    margin-top: 60px;
}

.wrap-race{
    margin: 50px 0 0 0;
}

.MuiTabs-centered {
    justify-content: space-between !important;
}

.MuiTab-wrapper{
    font-size: 26px !important;
    color: #fff !important;
}

.MuiTab-textColorInherit.Mui-selected{
    opacity: 1 !important;
}

.MuiTab-textColorInherit {
    color: #ffff !important;
    opacity: 0.5 !important;
}

/* detail */


.hero-image > .wrap-race-detail {
    position: relative;
    top: 180px;
}

.hero-image > .wrap-race-detail > .sub-title-race {
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-align: left;
    margin-left: 80px;
    font-size: 40px;
}


.hero-image > .wrap-race-detail > .main-content-race {
    margin: 16vh 80px;
}

.overview{
    margin: 70px auto;
    width: 90%;
}

span.title {
    color: #fff;
    font-weight: 600;
    line-height: 40px;
    font-size: 26px;
}

span.title2 {
    color: #000;
    font-weight: 600;
    line-height: 40px;
    font-size: 26px;
    padding-bottom: 10px;
}

.sec-docs{
    margin: 10px;
}

.sec-grid{
    width: 80%;
    display: flex;
    justify-content: center;
    margin-left: 60px;
}

.sec-grid-docs{
    width: 84%;
    display: flex;
    margin-left: 60px;
    justify-content: space-between;
}

.sec-grid > span {
    color: #fff;
    line-height: 30px;
}

.sec-grid-docs > span {
    color: #000;
    line-height: 30px;
}

.sec-grid > .txt-sec {
    display: block;
}

.date-list{
    text-align: left;
    color: #fff;
    font-size: 22px;
    margin-bottom: 60px;
}

.date-list > span {
    font-size: 16px;
}

.date-list > ul {
    margin-left: -25px;
}

.date-list > ul > li {
    font-size: 14px;
    padding: 4px 0;
}